@model Stripe.Web.Services.CustomerModel

@if (Model == null)
{
    <h3>Customer does not exists.</h3>
}
else
{
    <h3>Charge customer with email:@Model.Email</h3>

    <br />
    <h4>Payment Methods</h4>
    @foreach (var pm in Model.PaymentMethods)
    {
        @using (Html.BeginForm("Create", "Charge", FormMethod.Post))
        {
            <div class="mb-3">
                <div>***@pm.Card.Last4, @pm.Card.ExpMonth/@pm.Card.ExpYear</div>
                <input type="hidden" name="customerEmail" class="form-control" value="@Model.Email">
                <input type="hidden" name="paymentmethodid" class="form-control" value="@pm.Id">
                <input type="number" name="amount" placeholder="amount e.g. 10.99" />
                <button type="submit" class="btn btn-primary">Charge</button>
            </div>

        }
    }
}
