@model Stripe.Subscription

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Subscription Created</h2>

        <div>
            <p>@Model.Id</p>
            <p>@Model.Created</p>
        </div>
    </div>
</div>