@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Stripe Demo</h1>
    <br/>
    <br />
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Go to Plans</h3>
            <a href="/Plans/" class="btn btn-primary">See or Create Plans</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            
            <h3>Edit payment methods for customer by Email</h3>
            @using (Html.BeginForm("Index", "PaymentMethods", FormMethod.Post, new { id = "payment-methods-customer-form" }))
            {
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" name="customerEmail" class="form-control" id="inputEmail">
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
        <h3>Charge a Customer</h3>
        @using (Html.BeginForm("Index", "Charge", FormMethod.Post, new { id = "charge-customer-form" }))
        {
            <div class="mb-3">
                <label for="chargeEmail" class="form-label">Email</label>
                <input type="email" name="customerEmail" class="form-control" id="chargeEmail">
            </div>

            <button type="submit" class="btn btn-primary">Make Charge</button>
        }
    </div>
    </div>
</div>
